﻿@{
    ViewBag.Title = "Line Chart";
}


<canvas id="mycanvas"></canvas>

@section scripts{
<script src="~/Content/Chart.3.7.1.js"></script>    
<script>
        (function ($) {
            $(function () {

                var data = {
                    labels: [
                        //這邊定義x軸, 如果不定義, 會自動新增 但是順序可能會亂掉
                        '一月', '二月','三月','四月'
                    ],
                    datasets: [
                        //這邊放置要顯示的資料, 這邊範例用Home/Data回傳的
                    ]
                };

                //這邊是Chart的資本組態
                const config = {
                    type: 'line',
                    data: data,
                    options: {
                        plugins: {
                            title: {
                                display: true,
                                text: '股價'
                            }
                        },
                        animation: false,
                        scales: {
                            y: {
                                title: {
                                    display: true,
                                    text: '股價'
                                }
                            }
                            ,
                            x: {
                                title: {
                                    display: true,
                                    text: '月份'
                                }
                            }
                        }
                    }
                };
                var data = {}
                //這邊呼叫後端 Home/Data
                $.post('@Url.Action("Data","Home")', data, function (result, status) {

                    //把資料塞到config裡面
                    config.data.datasets = result;
                    //這邊Chart第一個參數要帶HTML的DOM物件, 如果用jQuery選取, 記得呼叫.get(0)做轉換
                    new Chart(document.getElementById('mycanvas'), config);

                })

            })

        })(jQuery)




</script>
    
    }